@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 400px;
  height: 100%;
  min-height: 650px;
  background-color: black;
  color: white;
}

.home-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  border: 1px dotted red;
  width: 100%;
  height: 100%
}

/* NAVBAR */
@layer components {

  .nav-container {
    @apply 
    /* border-solid border-red-500 border-2 */
    flex justify-center items-center
    w-full h-fit z-[-50]
    px-2 pt-5 pb-3;
    background: linear-gradient(to right, #0088FF
    , #003899
    );
  }
  .nav-content {
    @apply 
    /* border-solid border-orange-500 border-2 */
    flex flex-col justify-center items-center
    w-full h-fit
    gap-2;
  }

  .nav-side-one {
    @apply 
    /* border-solid border-yellow-500 border-2 */
    self-start
    ml-10
    flex flex-col justify-center items-start;
  }

  .nav-side-two {
    @apply 
    /* border-solid border-green-500 border-2 */
    flex flex-col justify-center items-center
    w-fit
    rounded-lg
    bg-[#2598FF];
  }
  .nav-number {
    @apply 
    /* border-solid border-blue-500 border-2 */
    hidden;
  }
  .nav-btns-container {
    @apply 
    /* border-solid border-indigo-500 border-2 */
    flex justify-center items-center w-fit h-fit;
  }
  .nav-btn {
    @apply 
    /* border-solid border-violet-500 border-2 */
    px-2 py-1 text-sm rounded-lg w-[80px]
    flex justify-center items-center;
  }
  .active {
    @apply text-blue-400 bg-white;
  }
  .nav-logo {
    @apply 
    /* border-solid border-red-500 border-2 */
    absolute top-[0px] left-[-80px]
    flex justify-center items-center
    w-[220px] h-[110px] opacity-50
    z-[-10];
  }

}

/* HERO */
@layer components {

  .hero-container {
    @apply 
    /* border-solid border-red-500 border-2 */
    flex flex-col justify-center items-center
    w-full h-full relative;
  }

  .hero-bg {
    @apply 
    /* border-solid border-orange-500 border-8 */
    flex justify-center items-center
    w-full h-full relative;
  }

  .white-overlay {
    @apply 
    /* border-solid border-yellow-500 border-2 */
    absolute top-0 left-0
    w-full h-full
    bg-white bg-opacity-50;
  }


}

/* FOOTER */
@layer components {

  .footer-container {
    @apply 
    /* border-solid border-red-500 border-2 */
    flex flex-col-reverse justify-center items-start
    w-full h-fit
    bg-[#00163D]
    px-2 py-4
    text-sm
    gap-2
    
    md:flex-row md:justify-between;
  }

  .footer-box {
    @apply 
    border-solid border-orange-500 border-2
    flex flex-col justify-center items-start
    w-full h-fit
    
    md:h-full
    md:w-fit
    md:pr-10;
  }
  

  
}